@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}

.font-caveat{
  font-family: 'Caveat', cursive;
}

.font-concertone{
  font-family: 'Concert One', cursive;
}

.font-titillium{
  font-family: 'Titillium Web', sans-serif;
}